@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>
<h3>ikly</h3>

<p>
    "ikly" is derived from these two combined terms:
    <br />(a) from the Tagalog word <strong>ikli</strong> which means <strong>short</strong> and;
    <br />(b) from the great <a href="http://bitly.com" target="_blank">bitly.com</a>, which serves as the inspiration for this web app.
    <br /><br />Ikly is not a formal English word...yet. :]
</p>
