@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title</h2>

<p>
    For bugs, app suggestions, or anything else cool (like your grandma's best fried chicken recipe), please don't hesitate to let us know. :]</h5>

    <address>
        <strong>Write us:</strong>   <a href="ajvdeguzman@gmail.com">ajvdeguzman@gmail.com</a><br />
    </address>
</p>
