@model brl_ikly.Models.Url

@{
    ViewBag.Title = "ikly - URL Shortener";
}

<div class="jumbotron" style="align-content:center;">
    <h1>ikly</h1>
    <p class="lead">Shorten your link, share in a blink.</p>
    <p>
        <table>
            <tr>
                @using (Html.BeginForm("Shorten", "Home"))
                {
                    <td>
                        Original URL:&nbsp;
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.UrlLongName)
                        @* @Html.ValidationMessageFor(model => model.Email) *@
                    </td>
                    <td>
                        <button type="submit" class="btn btn-default">Shorten</button>
                    </td>
                }
            </tr>
            <tr>
                <td>
                    Shortened URL:&nbsp;
                </td>
                <td>
                    @Html.TextBoxFor(model => model.UrlShortName) @* TODO: how to set as read-only *@
                </td>
                <td>
                    &nbsp; @* TODO: button here for Copy *@
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    Visitor count:&nbsp;@Html.DisplayFor(model => model.UrlVisitCount)
                </td>
            </tr>
        </table>
    </p>
</div>